Django==4.2.6
django-cors-headers==4.2.0
django-phonenumber-field==7.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
fastapi==0.109.2
matplotlib==3.8.2
opencv-python==4.8.1.78
pandas==2.1.1
phonenumbers==8.13.22
Pillow==10.0.1
psycopg2
python-dotenv==1.0.0
requests==2.31.0
SQLAlchemy==2.0.25
ultralytics==8.0.226
uvicorn==0.27.0.post1
grpcio==1.62.0
geopy
django_extensions